<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dr.achim.sleep_timer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".AlarmService"
            android:enabled="true"
            android:exported="false" />
        <!-- Device Admin -->
        <receiver
            android:name="dr.achim.device_functions.DeviceAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="false">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED" />
            </intent-filter>
        </receiver>
        <!-- Android Alarm Manager -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true" />
        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true" />
        <receiver
            android:name=".NotificationActionReceiver"
            android:enabled="true" />
        <!-- <receiver
            android:name=".WidgetReceiver"
            android:enabled="true" /> -->
        <!-- Timer Widget -->
        <!-- <receiver 
            android:name=".TimerWidget"
            android:label= "sleep_timer">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver> -->

        <!-- This is used to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <!-- Firebase AdMob Application ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${ADMOB_APP_ID}" />

    </application>

    <queries>
        <!-- Alarm clocks -->
        <package android:name="com.htc.android.worldclock" />
        <package android:name="com.android.deskclock" />
        <package android:name="com.google.android.deskclock" />
        <package android:name="com.motorola.blur.alarmclock" />
        <package android:name="com.sec.android.app.clockpackage" />
        <package android:name="com.sonyericsson.organizer" />
        <package android:name="com.asus.deskclock" />
        <package android:name="com.htc.android.worldclock" />
        <package android:name="com.lge.clock" />
        <package android:name="com.lge.alarm.alarmclocknew" />
        <package android:name="zte.com.cn.alarmclock" />
        <package android:name="com.mobitobi.android.gentlealarm" />
        <package android:name="com.urbandroid.sleep.alarmclock" />
        <package android:name="com.splunchy.android.alarmclock" />

        <!-- Audio player -->
        <package android:name="com.spotify.music" />
        <package android:name="com.spotify.kids" />
        <package android:name="deezer.android.app" />
        <package android:name="com.apple.android.music" />
        <package android:name="com.amazon.mp3" />
        <package android:name="com.audible.application" />
        <package android:name="com.pandora.android" />
        <package android:name="com.rhapsody" />
        <package android:name="com.aspiro.tidal" />
        <package android:name="com.soundcloud.android" />
        <package android:name="com.google.android.apps.podcasts" />
        <package android:name="com.sec.android.app.music" />
        <package android:name="com.google.android.apps.youtube.music" />
        <package android:name="tunein.player" />
        <package android:name="radiotime.player" />
        <package android:name="com.streema.simpleradio" />
        <package android:name="musicplayer.musicapps.music.mp3player" />
        <package android:name="com.shaiban.audioplayer.mplayer" />
        <package android:name="media.music.musicplayer" />
        <package android:name="com.musicplayer.player.mp3player.white" />
        <package android:name="com.media.music.mp3.musicplayer" />
        <package android:name="code.name.monkey.retromusic" />
        <package android:name="media.audioplayer.musicplayer" />
        <package android:name="com.clearchannel.iheartradio.controller" />
        <package android:name="com.piyush.music" />
        <package android:name="media.music.mp3player.musicplayer" />
        <package android:name="com.bambuna.podcastaddict" />
        <package android:name="de.danoeh.antennapod" />
        <package android:name="fm.castbox.audiobook.radio.podcast" />

        <!-- Sleep audio apps -->
        <package android:name="com.aumio.app" />

        <!-- Video player -->
        <package android:name="com.netflix.mediaclient" />
        <package android:name="com.disney.disneyplus" />
        <package android:name="com.amazon.avod.thirdpartyclient" />
        <package android:name="com.disney.disneyplus" />
        <package android:name="de.prosiebensat1digital.seventv" />
        <package android:name="de.sky.bw" />
        <package android:name="de.sky.online" />
        <package android:name="com.dazn" />
        <package android:name="com.plexapp.android" />
        <package android:name="org.xbmc.kodi" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.youtube.kids" />
        <package android:name="com.vanced.android.youtube" />
        <package android:name="org.videolan.vlc" />
        <package android:name="video.player.videoplayer" />
        <package android:name="com.mxtech.videoplayer.ad" />
        <package android:name="com.mxtech.videoplayer.pro" />
        <package android:name="com.real.RealPlayerMobile" />
        <package android:name="com.kmplayer.d" />
        <package android:name="com.kmplayer" />

        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="audio/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="video/*" />
        </intent>
    </queries>

</manifest>